.emptyTableDiv{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    overflow-x: auto;
    border: 2px solid rgb(121, 121, 121);
    border-radius: 5px;
    border-style: dashed;
    min-height: 300px;
    align-items: center;
}

.tableDiv{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
    overflow-x: auto;
    border-radius: 5px;

}
table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    min-width: 100px;
    width: 85%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:nth-of-type(odd) {
    background-color: white;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}